<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gamifiedsurvey">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logofast"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GamifiedSurvey">
        <activity android:name=".StatisticsActivity"></activity>
        <activity android:name=".MsgScreen" />
        <activity android:name=".FeedbackQuestion2" />
        <activity android:name=".FeedbackQuestions" />
        <activity android:name=".Profile" />
        <activity android:name=".ProgressMap" />
        <activity android:name=".lbcal" />
        <activity android:name=".resultpss2" />
        <activity android:name=".R2" />
        <activity android:name=".resultpss" />
        <activity android:name=".R1" />
        <activity android:name=".SplashScreen2" />
        <activity android:name=".FirstTimeDisplay" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingActivity" />
        <service android:name=".MyService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".LocationMonitoringService">
            <intent-filter>
                <action android:name="com.androidexample.screenonoff.AEScreenOnOffService" />
            </intent-filter>
        </service>
    </application>

</manifest>